<!-- Challenge-1 Header,Navigation Responsive Design with Mobile First Approach-->
<app-header></app-header> 

<div class="container">
    <div class="col-sm-12">
        <!--Challenge-2  custom popup box which will appear after 5 seconds -->
        <app-pop-up></app-pop-up> 

        <!-- Challenge-3 Use 2 API thaht documents show and the page should contain 
            list of posts and their comments below them. -->
        <app-post-list></app-post-list> 
    </div>
</div>

<!-- Challenge-1 Navigation Responsive Design with Mobile First Approach -->
<app-footer></app-footer> 